.mainDiv {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  justify-content: center;
  gap: 80px;
  align-items: center;
  margin: 50px;
}

.category {
  position: relative;
  overflow: hidden;
  width: 250px;
  margin: 10px; /* Adjust the margin to add space between items */
  transition: transform 0.3s ease;
}

.category:hover {
  transform: scale(1.05);
}

.category-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.ad {
  width: 81%; /* Make sure the ad takes the full width of the container */
  border: 1px solid white;

  margin-top: 100px; /* Adjust the margin to add space between the last category and the ad */
}

.ad img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
