body {
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}

.beauty {
  width: 150px;
  height: 150px;
  margin-top: 70px;
  background-color: white;
}
.toys {
  width: 150px;
  height: 150px;
  margin-top: 70px;
  background-color: white;
}

.gifts {
  margin-top: 70px;
  width: 150px;
  height: 150px;
  background-color: white;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.beauty-img {
  width: 150px;
  height: 150px;
}
.toys-img {
  width: 150px;
  height: 150px;
}

.gift-img {
  width: 150px;
  height: 150px;
}

.sales {
  color: whitesmoke;
}
