.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #445d48;
}

.homePage {
  color: white;
  font-size: x-large;
  padding-left: 10px;
}

.cart {
  background-color: #445d48;
  color: white;
  font-size: x-large;
  padding-right: 10px;
}

/* .search {
  display: flex;
  justify-content: center;
  align-items: center;
} */

a {
  text-decoration: none;
}

/* Add this to your CSS file */

.cart-inside {
  width: 450px;
  height: 400px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-top: 480px;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  color: #333;
  font-size: 16px;
  text-align: center;
}

.cart:hover {
  background-color: green;
}
